@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply h-full m-0 leading-normal text-black font-apple-system antialiased;
  }
}

@layer components{
  #root{
    display: flex;
    height: 100%;
    width: 100%
  }

  #sidebar > * {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  #sidebar > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #e3e3e3;
  }

  #sidebar nav a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;

    white-space: pre;
    padding: 0.5rem;
    border-radius: 8px;
    text-decoration: none;
    gap: 1rem;
  }

  input {
    @apply font-apple-system
  }

}